<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0" *ngIf="dish" [@visibility]='visibility' [@expand]>
    <div fxFlex="40">    
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{baseURL + dish.image }}" [alt]="dish.name">

                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>

                <mat-card-actions>
                  <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
                </mat-card-actions>

            </mat-card>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]='visibility' [@expand]>
        <h2>Comments</h2>
        <mat-list>
            <mat-list-item *ngFor="let comment of dish.comments">
              <h4 matLine> {{comment.comment}} </h4>
              <p matLine> {{comment.rating}} Stars</p>
              <p matLine>
                <span> -- {{comment.author}} {{comment.date | date }}</span>
              </p>

            </mat-list-item>
            <mat-list-item *ngIf="commentForm && commentForm.valid">
                <p matLine>
                    {{commentForm.value.comment}}<br>
                </p>
                <p matLine>
                    {{commentForm.value.rating}} Stars <br>
                </p>
                <p matLine>
                    -- {{ commentForm.value.author }}
                </p>
            </mat-list-item>
        </mat-list> 
        <form novalidate [formGroup]="commentForm" #fform="ngForm" fxLayout="row wrap" (ngSubmit)="onSubmit()" >
          <mat-form-field fxFlex="grow">
            <input matInput formControlName="author" placeholder="Name" minlength="2" type="text" required>
            <mat-error *ngIf="formErrors.author"> {{ formErrors.author }}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="grow">
            <textarea matInput formControlName="comment" placeholder="Your comment" rows ="12" required></textarea>
            <mat-error *ngIf="formErrors.comment"> {{ formErrors.comment }}</mat-error>
          </mat-form-field>
            <mat-slider fxFlex="grow" thumbLabel tickInterval="1" min="0" max="5" step="1" value="5" formControlName="rating"></mat-slider>
        <button class="background-primary text-floral-white" type="submit" mat-button [disabled]="commentForm.invalid">Post Comment</button>
        </form>
    </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>

