
<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div>
    <div>
      <h1>Menu</h1>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" gutterSize="0.5em" rowHeight="200px">
      <mat-grid-tile (click)="onSelect(dish)" *ngFor="let dish of dishes">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1> {{dish.name | uppercase}} </h1>    
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <app-dish-detail [dish]='selectedDish' *ngIf="selectedDish">
  </app-dish-detail>
</div>
